.status {
  height: 10px;
  width: 10px;
  border-radius: 50px;
}
.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red;
}

.item {
  display: flex;
  width: 200px;
  /* height: 300px; */
  border: 1px solid rgb(148, 167, 184);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
