.statistics {
  text-align: center;
  width: 400px;
  background-color: #ffffff;
  margin-bottom: 15px;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.statList {
  list-style: none;
  text-align: center;
}

.item {
  box-sizing: border-box;
  width: calc((100%-10px) / 5);
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}

.label {
  margin-bottom: 5px;
}
