.statistics {
  text-align: center;
  width: 400px;
  background-color: #ffffff;
  margin-bottom: 15px;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.statList {
  list-style: none;
  text-align: center;
}
