.statistics {
  text-align: center;
  width: 400px;
  background-color: #ffffff;
  margin-bottom: 15px;
  border: 1px solid black;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.statList {
  list-style: none;
  text-align: center;
}

.item {
  border: 1px solid black;
  width: calc((100% -150px) / 5);
  margin-left: 30px;
  margin-top: 30px;
}

.label {
  margin-bottom: 5px;
}
